<h1>Chatrooms#index</h1>
<p>Find me in app/views/chatrooms/index.html.erb</p>

<% @chatrooms.each do |chatroom| %>
<% if %>
<% current_user.first_name == chatroom.receiver_name %>
  <%= chatroom.sender_name %>
<% else %>
  <%= chatroom.receiver_name %>
<% end %>
<% end %>
