.card-product {
  overflow: hidden;
  height: 170px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-prod {
  overflow: hidden;
  height: 120px;
  display: flex;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  width:auto;
  padding-left: 20px;
}

.card-product img {
  height: 100%;
  width: auto;
  object-fit: fill;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.profile-picture img {
  border-radius: 50%;
}

.contain-profile {
  padding: 0 0 26px 0;
  margin:38px auto !important;
  text-align: center;
  background-color: white;
  max-width: 500px;
}

p.show-text {
  font-size: 18px;
}

.profile-picture-show img {
  border-radius: 16px;
  margin-bottom: 16px;
}

.fa-comments, .fa-star {
  font-size: 48px;
  margin: 16px;
  color: #167FFB;
  &:hover {
    text-decoration:none !important;
  }
}


@media(max-width:500px) {
  .profile-container {
  min-width: 300px;
  height: auto;
  }

  .profile-picture-show {
    min-width: 300px;
    height: auto;

  }

  .bio {
    max-width: 500px;
  }
}
