.logo-center {
  margin: 0 auto !important;
}

.card-product {
  overflow: hidden;
  min-height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.card-prod {
  overflow: hidden;
  min-height: 120px;
  display: flex;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  width:auto;
  padding-left: 20px;
}

.card-prod-messages {
  overflow: hidden;
  display: flex;
  background: white;
  align-items: center;
  width:auto;
  padding-left: 20px;
  padding: 16px 0;
  border-bottom: 1px solid rgba(232, 232, 232, 1);
  position: relative;
}

.card-product img {
  height: 80px;
  width:80px;
  object-fit: cover;
  margin-left: 16px;
  border-radius: 8px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .9;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  min-height:120px;
}

.profile-picture img {
  border-radius: 50%;
}

.contain-profile {
  padding: 0 0 26px 0;
  margin:38px auto !important;
  text-align: center;
  background-color: white;
  max-width: 500px;
}

.chatroom-index-names a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.603) !important;
  margin-bottom: 0;
  text-decoration: none;

}

.last-message {
  font-size: 18px;
  color:rgba(0, 0, 0, 0.685);
}

p.show-text {
  font-size: 18px;
}

.profile-picture-show img {
  border-radius: 16px;
  margin-bottom: 16px;
}

.fa-comments, .fa-star {
  font-size: 48px;
  margin: 16px;
  color: #167FFB;
  &:hover {
    text-decoration:none !important;
  }
}

  .sign-out-link {
    color: red !important;
  }

  .user-index-container {
    padding-bottom: 35px;
  }

  .edit-profile {
    padding-bottom: 56px;

  }


@media(max-width:500px) {
  .profile-container {
  min-width: 300px;
  height: auto;
  }

  .profile-picture-show {
    min-width: 300px;
    height: auto;

  }

  .bio {
    max-width: 500px;
  }
}
