.centereddeouf{
  padding-top: 30%;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-center {
  margin: 0 auto !important;
}

.card-product {
  overflow: hidden;
  min-height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.card-prod {
  overflow: hidden;
  min-height: 120px;
  display: flex;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  width:auto;
  padding-left: 20px;
}

.card-prod-messages {
  overflow: hidden;
  display: flex;
  background: white;
  align-items: center;
  width:auto;
  padding-left: 20px;
  padding: 16px 0;
  border-bottom: 1px solid rgba(232, 232, 232, 1);
  position: relative;
}

.card-product img {
  height: 80px;
  width:80px;
  object-fit: cover;
  margin-left: 16px;
  border-radius: 8px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .9;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  min-height:120px;
}

.profile-picture img {
  border-radius: 50%;
}

.contain-profile {
  position: relative;
  padding: 0 0 26px 0;
  margin: 0 auto 38px !important;
  text-align: center;
  background-color: white;
  max-width: 500px;
}

.chatroom-index-names a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.603) !important;
  margin-bottom: 0;
  text-decoration: none;

}

.last-message {
  font-size: 18px;
  color:rgba(0, 0, 0, 0.685);
}

p.show-text {
  font-size: 18px;
  text-align: justify;
}

.h1-show {
  text-align: justify;
}

.div-grey-show {
  background-color: rgba(0, 0, 0, 0.479);
  margin: 0 auto;
  height: 2px;
  width: 70%;
}

.div-grey-show-small {
  background-color: rgba(0, 0, 0, 0.479);
  margin: 0 auto;
  height: 1px;
  width: 70%;
}

.profile-picture-show img {
  height: 500px;
  margin-bottom: 16px;
  width: auto;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.profile-content {
  padding : 0 10%
}

.fa-comments-show, .fa-star-show {
  font-size: 48px;
  margin: 16px;
  color: #167FFB;
  &:hover {
    text-decoration:none !important;
  }
}

#chat-show-logo {
  font-size: 30px !important;
}

#favorites-star {
  position: absolute;
  top: 0;
  right: 50px;
  font-size: 30px !important;
  color: rgb(255, 255, 255);
}

#favorites-full-star {
  position: absolute;
  top: 0;
  right: 50px;
  font-size: 30px !important;
  color: rgb(255, 255, 255);
}

  .sign-out-link {
    color: red !important;
  }

  .user-index-container {
    padding-bottom: 35px;
  }

  .edit-profile {
    padding-bottom: 56px;

  }


@media(max-width:500px) {
  .profile-container {
  min-width: 300px;
  height: auto;
}

#favorites-star {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 30px !important;
  color: rgb(255, 255, 255);
}

#favorites-full-star {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 30px !important;
  color: rgb(255, 255, 255);
}


.profile-picture-show img {
  height: auto;
  margin-bottom: 16px;
  width: 100%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

  .profile-picture-show {
    min-width: 300px;
    height: auto;

  }

  .bio {
    max-width: 500px;
  }
}
