.bordure {
  margin-top:100px;
  margin-bottom: 60px !important;
}

.speech-bubble {
  position: relative;
  background: #d7d5d5;
  border-radius: .4em;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-right-color: #d7d5d5;
  border-left: 0;
  margin-top: -7px;
  margin-left: -7px;
}


.speech-bubbly {
  position: relative;
  background: #99f0a7;
  border-radius: .4em;
}

.speech-bubbly:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-left-color: #99f0a7;
  border-right: 0;
  margin-top: -7px;
  margin-right: -7px;
}


#new_message {
  position: fixed !important;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.profile {
  z-index:10;
  background-color:white;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed !important;
  left: 0;
  top: 100px;
  width: 100%;
  text-align: center;

}
.profile p {
  font-size: 40px;
}

.avatar img {
  border-radius: 50%;
  height:50px;
  width:50px;
}

.card-product {
  overflow: hidden;
  height: 170px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-prod {
  overflow: hidden;
  height: 120px;
  display: flex;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  width:auto;
  padding-left: 20px;
}

.card-product img {
  height: 100%;
  width: auto;
  object-fit: fill;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.profile-picture img {
  border-radius: 50%;
}

.contain-profile {
  padding: 16px;
  margin:38px auto !important;;
  text-align: center;
  background-color: white;
  max-width: 500px;
}

p.show-text {
  font-size: 18px;
}

.profile-picture-show img {
  border-radius: 16px;
  margin-bottom: 16px;
}

.fa-comments, .fa-star {
  font-size: 48px;
  margin: 16px;;
  &:hover {
    text-decoration:none !important;
  }
}

.fav-info {
  padding: 16px;
}
.favcard {
  border-radius: 8px;
}

