.arrow {
  font-size:30px;
}

.bordure {
  margin-top:100px;
  margin-bottom: 52px !important;
  background-color: #ece5dd;
  padding-bottom:3px;
}

.speech-bubble {
  position: relative;
  background: white;
  border-radius: .4em;
  padding-left:10px;
  padding-right: 10px;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-right-color: white;
  border-left: 0;
  margin-top: -7px;
  margin-left: -7px;
}


.speech-bubbly {
  padding-left:10px;
  padding-right: 10px;
  position: relative;
  background: #dcf8c6;
  border-radius: .4em;
}

.speech-bubbly:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-left-color: #dcf8c6;
  border-right: 0;
  margin-top: -7px;
  margin-right: -7px;
}


#new_message {
  position: fixed !important;
  left: 0;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

.profile {
  border: solid 1px lightgrey;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  z-index:10;
  background-color: rgba(255,255,255,0.90);
  display:flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed !important;
  left: 0;
  top: 0px;
  width: 100%;
  text-align: center;
}

.profile p {
  font-size: 40px;
}

.avatar img {
  border-radius: 50%;
  height:50px;
  width:50px;
}

.avatar-messages img {
  border-radius: 50%;
  height:60px;
  width:60px;
}

// h1#h1-messages {
//   position: absolute;
//   font-size: 35px;
//   top: 0;
//   left: 30%;
//   color: #FFF;
// }

.messages-container {
  padding-top: 16px;
}

@media(max-width:500px) {
  #new_message {
  position: fixed !important;
  left: 0;
  bottom: 0px;
  width: 100%;
  text-align: center;


}
  .bordure {
    margin-top:100px;
    margin-bottom: 50px !important;
    background-color: #ece5dd;
    padding-bottom: 3px;
  }
}
