.arrow {
  font-size:30px;
}

.bordure {
  margin-top:100px;
  margin-bottom: 52px !important;
  background-color: #ece5dd;
  padding-bottom:3px;
}

.speech-bubble {
  position: relative;
  background: white;
  border-radius: .4em;
  padding-left:10px;
  padding-right: 10px;
  margin-right:100px;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-right-color: white;
  border-left: 0;
  margin-top: -7px;
  margin-left: -7px;
}


.speech-bubbly {
  padding-left:10px;
  padding-right: 10px;
  position: relative;
  background: #dcf8c6;
  border-radius: .4em;
  margin-left: 100px;
}

.speech-bubbly:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-left-color: #dcf8c6;
  border-right: 0;
  margin-top: -7px;
  margin-right: -7px;
}


#new_message {
  position: fixed !important;
  left: 0;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

.profile {
  border: solid 1px lightgrey;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  z-index:10;
  background-color: rgba(255,255,255,0.90);
  display:flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed !important;
  left: 0;
  top: 0px;
  width: 100%;
  text-align: center;
}

.profile p {
  font-size: 40px;
}

.avatar img {
  border-radius: 50%;
  height:50px;
  width:50px;
}

.avatar-messages img {
  border-radius: 8px;
  height:60px;
  width:60px;
  object-fit: cover;
}

.messages-container {
  padding-top: 16px;
}

.fa-circle {
  color: #32CD32;
  position: absolute;
  left: 47px;
  top: 30px;
  font-size: 16px;
}

.fa-chevron-left {
  color: grey;
  font-size: 26px;
}

.message-content {
  color: rgba(0, 0, 0, 0.808) ;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

@media(max-width:500px) {
  #new_message {
  position: fixed !important;
  left: 0;
  bottom: 0px;
  width: 100%;
  text-align: center;


}
  .bordure {
    margin-top:100px;
    margin-bottom: 110px !important;
    background-color: #ece5dd;
    padding-bottom: 3px;
  }

  .fa-circle {
    color: #32CD32;
    position: absolute;
    left: 47px;
    top: 22px;
    font-size: 16px;
  }
}
