body {
  background-color:  #fff;
  font-family: 'Montserrat', sans-serif;

}

.grey-separator {
  border: 1px solid rgba(0, 0, 0, 0.151);
  width: 70%;
  margin: 2% auto;
}


h1 {
  color:  rgba(0, 0, 0, 0.795);
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color:  rgba(0, 0, 0, 0.795);
  font-family: 'Montserrat', sans-serif;
}

h3, h4, h6 {
  color:  rgba(0, 0, 0, 0.795);
  font-family: 'Montserrat', sans-serif;
}

p {
  color:  rgba(0, 0, 0, 0.795);
  font-family: 'Montserrat', sans-serif;
}
