body {
  background-color:  #fff;
}

.grey-separator {
  border: 1px solid rgba(0, 0, 0, 0.151);
  width: 70%;
  margin: 2% auto;
}


h1 {
  color:  rgba(0, 0, 0, 0.795);
}

h2 {
  color:  rgba(0, 0, 0, 0.733);
}

h3, h4, h6 {
  color:  rgba(0, 0, 0, 0.733);
}

p {
  color:  rgba(0, 0, 0, 0.623);
}