  .navbar.navbar-light.light-blue.lighten-4{
  display: none;
  }

@media (max-width: 500px) {
  .navbar.navbar-light.light-blue.lighten-4{
  display: flex;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  // z-index: 20;
  }
  .fa-1x {
  font-size: 1.5rem;
  }
  .navbar-toggler.toggler-example {
  cursor: pointer;
  }
  .dark-pink-text {
  color: rgba(15,79,179,1);
  }
  .light-blue {
    background: linear-gradient(90deg, rgb(15,79,179) 15%, rgb(109,109,232) 63%, rgb(57,189,191) 100%) !important;
  }
  .nav-link.one {
    color: white !important;
  }
  #logone {
    width: 50px !important;
  }
  #title-nav {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
  //   position: absolute;
  //   top: 0;
  //   left: 30%;
  //   margin-top: 24px;
  }
}
