  .navbar.navbar-light.light-blue.lighten-4{
  display: none;
  }

@media (max-width: 500px) {
  .navbar.navbar-light.light-blue.lighten-4{
  display: flex;
  padding-bottom: 8px;
  position: sticky;
  top: 0;
  z-index: 2;
  }
  .fa-1x {
  font-size: 1.5rem;
  }
  .navbar-toggler.toggler-example {
  cursor: pointer;
  }
  .dark-pink-text {
  color: white;
  }
  .light-blue {
    // background: linear-gradient(90deg, rgb(15,79,179) 15%, rgb(109,109,232) 63%, rgb(57,189,191) 100%) !important;
  background: rgb(16,38,62);
  background: linear-gradient(90deg, rgba(16,38,62,1) 0%, rgba(9,9,121,1) 49%, rgba(0,89,255,1) 100%);
  }
  .nav-link.one {
    color: white !important;
  }
  #logone {
    width: 50px !important;
  }
  #title-nav {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    margin-bottom: 0;
  }
  .badge-icon {
    left: 45px;
    top: 7px;
    position: absolute;
  }
}
