.navbar-lewagon {
  justify-content: space-between;
  background: rgb(15,79,179);
  background: linear-gradient(90deg, rgba(15,79,179,1) 15%, rgba(109,109,232,0.8813900560224089) 63%, rgba(57,189,191,0.7553396358543417) 100%);
  height: 100px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 20;
}

.navbar-responsive {
  display: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
#logo {
  width: 70px;
}
.nav-link, .dropdown-item {
  color: #474541 !important;
}

.fa-home, .fa-comments, .fa-star, .fa-user, .fa-sign-out-alt {
  font-size: 26px !important;
}
i.fas {
  margin-bottom:0;
  margin-top:10px;
}
.logo-link {
  color: white !important;
}
@media (max-width: 500px) {

  .navbar-lewagon {
    display:none;
  }

  .navresp {
    display: block;
    // position: absolute;
    margin-top: 10px;
    // bottom: 0;
    // left: 0;
    background-color: #1150B4;
    width: 100%;
    padding: 0 5px;
    position: fixed;
    bottom: 0;
    left: 0;
  }

}

@media (max-width: 320px) {

  .navbar-lewagon {
    display:none;
  }

  .logo-link {
    color: white !important;
  }

  i.fas {

    margin: 0 4px;
    padding-top: 6px;
  }
}

