.navbar-lewagon {
  justify-content: space-between;
  background: rgb(15,79,179);
  background: linear-gradient(90deg, rgba(15,79,179,1) 15%, rgba(109,109,232,0.8813900560224089) 63%, rgba(57,189,191,0.7553396358543417) 100%);
  height: 100px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 20;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
#logo {
  width: 70px;
}
.nav-link, .dropdown-item {
  color: #474541 !important;
}
