.navbar-lewagon {
  justify-content: space-between;
  background: rgb(16,38,62);
  background: linear-gradient(90deg, rgba(16,38,62,1) 0%, rgba(9,9,121,1) 49%, rgba(0,89,255,1) 100%);
  height: 100px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 20;
}

.navresp {
  display: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon  {
  width: 40px;
}

.navbar-brand img {
  margin-right: 0;
}

#logo {
  width: 70px;
}
.dropdown-item {
  color: #474541 !important;
}
.nav-link{
  color: white !important;
}
.fa-sign-out-alt {
  color: #1150B4;
}

.badge-div {
  position: relative;
}

@media (max-width: 500px) {

  .navbar-lewagon {
    display:none;
  }

  .navresp {
    display: block;
    margin-top: 10px;
    background: rgb(16,38,62);
    background: linear-gradient(90deg, rgba(16,38,62,1) 0%, rgba(9,9,121,1) 49%, rgba(0,89,255,1) 100%);
    width: 100%;
    padding: 0 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 20;
    height: 53px;
  }

  .avatar-nav-responsive {
    height: 32px;
    width: 32px;
    margin-top: 3px;
    margin-left: 13px;
  }
  
  .fa-home, .fa-comments, .fa-star, .fa-user, .fa-search {
    font-size: 20px !important;
    margin: 5px 10px;
  }

  i.fas {
    margin-bottom:0;
    margin-top:10px;
  }
  .logo-link {
    color: white;
  }

  i.active {
    color: #f48c06 !important;
  }


}

@media (max-width: 320px) {

  .navbar-lewagon {
    display:none;
  }

  .logo-link {
    color: white !important;
  }

  i.fas {
    padding-top: 6px;
  }

  .fa-home, .fa-comments, .fa-star, .fa-user, .fa-search  {
    font-size: 20px !important;
    margin: 0 5px;
  }

    .nav-link {
      padding-top: 0;
    }

    .nav-link.user-link {
      padding-left: 0;
    }

    .avatar-nav-responsive {
      height: 32px;
      width: 32px;
      margin-top: 11px;
    }

}

