.navbar-lewagon {
  justify-content: space-between;
  background: rgb(15,79,179);
  background: linear-gradient(90deg, rgb(15,79,179) 15%, rgb(109,109,232) 63%, rgb(57,189,191) 100%);
  height: 100px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 20;
}

.navresp {
  display: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
#logo {
  width: 70px;
}
.nav-link, .dropdown-item {
  color: #474541 !important;
}

.fa-sign-out-alt {
  color: #1150B4;
}
@media (max-width: 500px) {

  .navbar-lewagon {
    display:none;
  }

  .navresp {
    display: block;
    margin-top: 10px;
    background: rgb(15,79,179);
    background: linear-gradient(90deg, rgb(15,79,179) 15%, rgb(109,109,232) 63%, rgb(57,189,191) 100%);
    width: 100%;
    padding: 0 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 20;
    height: 60px;
  }

  .fa-home, .fa-comments, .fa-star, .fa-user {
    font-size: 26px !important;
    margin: 0 26px;
  }
  i.fas {
    margin-bottom:0;
    margin-top:10px;
  }
  .logo-link {
    color: white !important;
  }

}

@media (max-width: 320px) {

  .navbar-lewagon {
    display:none;
  }

  .logo-link {
    color: white !important;
  }

  i.fas {
    padding-top: 6px;
  }

  .fa-home, .fa-comments, .fa-star, .fa-user {
    font-size: 26px !important;
    margin: 0 8px;
  }
}

