// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body.chatroom_show{
  background-color:#ece5dd;
}

body.login_page{
  background: rgb(15,79,179);
  background: linear-gradient(90deg, rgba(15,79,179,0.5) 15%, rgba(109,109,232,0.8813900560224089) 63%, rgba(57,189,191,0.7553396358543417) 100%);
}
