// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body.chatroom_show{
  background-color:#ece5dd;
}

body.login_page{
  background: rgb(16,38,62);
  background: linear-gradient(90deg, rgba(16,38,62,1) 0%, rgba(9,9,121,1) 49%, rgba(0,89,255,1) 100%);
  color: white;
}
body.login_page h2{
  color: white;
}
